.card-background {
  /* width: 360px; Adjust width for larger resolutions
  height: 640px; Adjust height for larger resolutions */
  /* background: linear-gradient(135deg, #ff7f00, #ffcc33); */
  /* background: linear-gradient(135deg, #11998e, #38ef7d); Biology */
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);

  /* background: linear-gradient(135deg, #a8e063, #56ab2f); */

  color: black;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  /* border-radius: 10px; */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: start;
}

.shorts {
  width: 360px; /* Adjust width for larger resolutions */
  height: 640px; /* Adjust height for larger resolutions */
}
.videos {
  width: 1200px;
  height: 675px;
}

.Physics {
  background: linear-gradient(135deg, #7bc7ea, #2088c2);
}

.Chemistry {
  background: linear-gradient(135deg, #ff7f00, #ffcc33);
}

.Biology {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

.Math {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

.Reasoning {
}

/* .card-title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;

  padding-bottom: 30px;
  text-align: center;
} */

.underline-text {
  /* display: inline-block;  */
  border-bottom: 2px solid black; /* Customize thickness and color */
  padding-bottom: 2px; /* Adjust to create desired spacing */
  text-align: center;
  width: 50%;
  margin: auto;
}

.card-body {
  padding-top: 30px;
}

.card-question {
  margin: 20px 0;
  /* font-size: 18px; */
  font-size: 25px;
  padding-top: 30px;
}

.card-options {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
}

.card-options li {
  margin: 10px 0;
}

.question-container {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.question-number-column {
  width: 40px; /* Set a fixed width for the question number column */
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.question-text-column {
  flex: 1; /* Take up the remaining space */
  font-size: 20px;
  /* font-size: 25px; */
  color: black;
  padding-left: 10px;
}

.option-container {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}
.correct-answer {
  color: green;
  font-weight: bold;
}

.wrong-answer {
  color: red;
  font-weight: bold;
}

.option-letter {
  width: 40px;
  font-size: 20px;
  /* font-size: 25px; */
  font-weight: bold;
  /* color: black; */
  text-align: center;
}

.option-text {
  flex: 1;
  font-size: 20px;
  /* font-size: 18px; */
  /* font-size: 25px; */
  /* color: black; */
  padding-left: 10px;
}

.correct-answer-container {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

.correct-answer-letter {
  width: 40px;
  font-size: 20px;
  font-weight: bold;
  color: green;
  text-align: center;
}

/* #1aff1a */

.correct-answer-text {
  font-weight: bold; /* Make the correct answer bold for emphasis */
  flex: 1;
  font-size: 18px;
  color: green;
  padding-left: 10px;
}
